@model PassionProjectSummer2024.Models.EmployeeDto
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this  Employee?</h2>
<a href="/Employee/List">Cancel</a>
<h2>@Model.FirstName @Model.LastName</h2>
<div>Hire Date: @Model.HireDate </div>

<form action="/Employee/Delete/@Model.EmployeeId" method="POST">
    <input type="submit" value="Confirm Delete" style="background-color:orangered; color:white"/>

</form>

